.PageLink {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100px;
    padding: 5px;
    margin-right: 0px;
    margin-left: auto;
    background-color: #b4b9bfb3;
    color: #5d5d5d;
}

.PageLink:hover{
    background: rgba(122, 127, 133, 0.7);
}

.itemsNumber{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 24px;
    max-width: 34px;
    height: 24px;
    padding: 4px;
    background-color: #ff0605;
    background-clip: padding-box;
    border: 3px solid #fff;
    border-radius: 100px;
    top: -10px;
    right: -10px;
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    pointer-events: none;
}
